/*CSS da Aplicação*/
body {
  padding-top: 70px;
  background-color: lightblue;
}


.image-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;
  background-color: white;
}

.img{
  display: block;
  border-radius: 10px;
  margin: auto;
}

.form-captcha {
  padding: 10px;
}
