<!--Tela de Criação de Usuario-->
<!--Cria um novo usuario dentro do sistema-->

<!--Criação-->
<div class="jumbotron col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-keypress="$event.which==13 && createUser(user)">

  <h1>Criar Usuário</h1>

  <!--Nome e Email-->
  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control" tabindex=1 type="text" ng-model="user.name" placeholder="Digite o nome do usuario"/>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control register" tabindex=2 type="text" ng-model="user.email" placeholder="Digite o email do usuario"/>
  </div>

  <!--Senha-->
  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control" tabindex=3 type="password" ng-model="user.password.first" placeholder="Digite uma senha"/>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control" tabindex=4 type="password" ng-model="user.password.second" placeholder="Digite novamente a senha"/>
  </div>


  <!--Botões de Criação-->
  <button class="btn btn-primary btn-block" ng-click="createUser(user)" ng-disabled="!user.password.first || !user.password.second || !user.name || !user.email">Criar Usuario</button>
  <a class="btn btn-danger btn-block" href="#/Cupom">Cancelar</a>

  <!--Erros de Criação-->
  <div>

    <!--Usuario Cirado-->
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="result=='OK'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Usuario Criado!</strong> Usuario adicionado ao sistema com sucesso.
    </div>

    <!--Usuario já existe-->
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="result=='user'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Usuário Duplicado!</strong> Este usuario já existe, use outro nome.
    </div>

    <!--Senhas divergente-->
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="result=='password'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Senha Divergente!</strong> Existe uma divergencia entre as duas senhas digitadas.
    </div>


    <!--Campos Vazios-->
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="result=='fields'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Campos Vazios!</strong> Insira todas as informações necessarias.
    </div>

  </div>

</div>

<!--Imagem EBM-->
<img class=" col-xs-2 col-xs-offset-5" src="image/icon.png"/>
