<!--Tela Principal-->
<!--Controla o BOT e mostra informações dos cupons-->

<!--Login e Nome da Aplicação-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#/Cupom">Doe Educandário</a>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#/CreateUser">Criar Usuário</a></li>
        <li><a href="#/Password">Mudar Senha</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" ng-click="logOut()">Log Out</a></li>
      </ul>
    </li>
  </ul>
  <p class="navbar-text navbar-right">Entrou como</p>
</nav>

<!--Informações de Cupons e Chaves-->
<section class="col-sm-4 col-sm-offset-1 col-xs-12 jumbotron">

  <div class="row">

    <div class="col-sm-5 col-xs-12">
      <h3><strong>Informações:</strong></h3>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div class="form-group">

        <div class="col-xs-10">
          <input type="text" ui-mask="19/2999" ng-model="date" class="form-control" placeholder="Cupons por Mes">
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary" type="button" ng-click="getInfo(date)"><i class="glyphicon glyphicon-search"></i></button>
        </div>

      </div>
    </div>

  <!--Tabelas-->
  <div class="panel-body section-cupom-info">

    <!--Tabela de Cupons-->
    <table class="table table-striped table-curved" ng-show="cupons[0]">
      <tr>
        <th class="info-cupom">Cupom</th>
        <th></th>
        <th ng-if="cupons[0].month"></th>
      </tr>
      <tr>
        <td class="info-cupom">Estado</td>
        <td class="info-cupom">Quantidade</td>
        <td class="info-cupom" ng-if="cupons[0].month">Mês/Ano</td>
      </tr>

      <tr ng-repeat="cupom in cupons">
        <td>{{cupom.estado | estado}}</td>
        <td>{{cupom.quantity}}</td>
        <td ng-if="cupom.month">{{cupom.month | month}}/{{cupom.year}}</td>
      </tr>

    </table>

    <!--Tabela de Chaves-->
    <table class="table table-striped table-curved" ng-show="chaves[0]">
      <tr>
        <th class="info-cupom">Chave</th>
        <th></th>
        <th ng-if="chaves[0].month"></th>
      </tr>

      <tr>
        <td class="info-cupom">Estado</td>
        <td class="info-cupom">Quantidade</td>
        <td class="info-cupom" ng-if="chaves[0].month">Mês/Ano</td>
      </tr>

      <tr ng-repeat="chave in chaves">
        <td>{{chave.estado | estado}}</td>
        <td>{{chave.quantity}}</td>
        <td ng-if="chave.month">{{chave.month | month}}/{{chave.year}}</td>
        <td>{{chave}}</td>
      </tr>

    </table>
  </div>
</section>

<!--Resolução de captcha-->
<section class="col-sm-5 col-sm-offset-1 col-xs-12 jumbotron">

  <!--Imagem do Captcha-->
  <div class=" image-container">
    <img class="img" name="image" ng-src="{{image || 'image/icon.png'}}"/>
  </div>

  <div class="row form-captcha">

    <!--Escolhe o cadastro e recebe o captcha-->
    <button class="btn btn-default col-xs-6" ng-if="!image" ng-click="getCaptcha(true)">Cadastrar Cupons</button>
    <button class="btn btn-default col-xs-6" ng-if="!image" ng-click="getCaptcha(false)">Cadastrar Chaves</button>

    <!--Digita o valor do captcha-->

      <div class="form-group col-xs-6">
        <input  class="form-control " ng-if="image" type="text" ng-model="captcha.valor" ui-mask="zzzz" placeholder="Insira o Captcha"/>
      </div>

      <!--De acordo com a escolha-->
      <button class="btn btn-default col-xs-3" ng-if="image && isCupom"  ng-click="postCupom(captcha)" ng-disabled="captcha.valor.length!=4">Cadastrar Cupons</button>
      <button class="btn btn-default col-xs-3" ng-if="image && !isCupom" ng-click="postChave(captcha)" ng-disabled="captcha.valor.length!=4">Cadastrar Chaves</button>

      <!--Botão de Cancelar-->
      <button class="btn btn-danger col-xs-3" ng-if="image" ng-click="cancel()">Cancelar</button>

    </div>
  </div>
</section>
