<!--Tela de Log-In-->
<!--Realiza o Log In do usuario no sistema-->

<!--LogIn-->
<div class="jumbotron col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" ng-keypress="$event.which==13 && changePassword(password)">

  <h1>Mudar Senha</h1>

  <!--Usuario e Senha-->
  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control" tabindex=1 type="password" ng-model="password.first" placeholder="Digite uma nova senha"        style="float: left"/>
  </div>

  <div class="form-group col-sm-6 col-xs-12">
    <input class="form-control" tabindex=2 type="password" ng-model="password.second" placeholder="Digite novamente a nova senha" style="float: right"/>
  </div>

  <!--Botões de LogIn-->
  <button class="btn btn-primary btn-block" ng-click="changePassword(password)" ng-disabled="!password.first || !password.second">Mudar Senha</button>
  <a class="btn btn-danger btn-block" href="#/Cupom">Cancelar</a>

  <!--Erros de LogIn-->
  <div>

    <!--Usuario não Encontrado-->
    <div class="alert alert-success alert-dismissible" role="alert" ng-if="result=='OK'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Senha Alterada!</strong> Sua senha foi alterada com sucesso.
    </div>

    <!--Senha Incorreta-->
    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="result=='error'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Senha Divergente!</strong> Existe uma divergencia entre as duas senhas digitadas.
    </div>

  </div>

</div>

<!--Imagem EBM-->
<img class=" col-xs-2 col-xs-offset-5" src="image/icon.png"/>
