<!--Tela de Log-In-->
<!--Realiza o Log In do usuario no sistema-->

<!--LogIn-->
<section class="jumbotron section-login" ng-keypress="$event.which==13 && changePassword(password)">

  <h1>Mudar Senha</h1>

  <!--Usuario e Senha-->
  <input class="form-control register" tabindex=1 type="password" ng-model="password.first" placeholder="Digite uma nova senha"        style="float: left"/>
  <input class="form-control register" tabindex=2 type="password" ng-model="password.second" placeholder="Digite novamente a nova senha" style="float: right"/>


  <!--Botões de LogIn-->
  <button class="btn btn-primary btn-block" ng-click="changePassword(password)" ng-disabled="!password.first || !password.second">Mudar Senha</button>
  <a class="btn btn-danger btn-block" href="#/Cupom">Cancelar</a>

  <!--Erros de LogIn-->
  <section class="section-error">

    <!--Usuario não Encontrado-->
    <section class="alert alert-success alert-dismissible" role="alert" ng-if="result=='OK'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Senha Alterada!</strong> Sua senha foi alterada com sucesso.
    </section>

    <!--Senha Incorreta-->
    <section class="alert alert-danger alert-dismissible" role="alert" ng-if="result=='error'">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <strong>Senha Divergente!</strong> Existe uma divergencia entre as duas senhas digitadas.
    </section>

  </section>

</section>

<!--Imagem EBM-->
<img class="img-logo" src="image/icon.png"/>
